.artlist__product-col:last-child {
    border-bottom: none !important;
}
@media (min-width: 576px) {
    .artlist__datas-inner {
        -webkit-flex-basis: 14rem;
        -ms-flex-preferred-size: 14rem;
        flex-basis: 14rem;
    }
}
@media (min-width: 768px) {
    .col-md-custom-30 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 30rem;
        -moz-box-flex: 0;
        -ms-flex: 0 1 330rem;
        flex: 0 1 30rem;
        max-width: 30rem;
    }
}
.product-statuses {
    height: auto !important;
}
.artlist__sku {
    font-size: 1.1rem;
}
.artlist__name {
    text-transform: uppercase;
    font-size: 1.76rem;
}
.artlist__description-short {
    font-size: 1.3rem;
}
/*** PRICE ***/
.artlist__price-base, .artlist__price-sale {
    font-size: 2.4rem;
}
.has-sale-price .artlist__price-base {
    font-size: 1.3rem;
}
.artlist__price-quantitative-sale {
    font-size: 1.2rem;
}
.artlist__price-quantitative-sale strong {
    display: inline-block;
    margin-left: 0.5rem;
}
/*** VARIANTS ***/
.artlist__variant-label {
    font-size: 1.2rem;
    text-align: left;
}
.artlist__variant + .artlist__variant {
    margin-top: 0.5rem;
}
.page_artlist_other_select {
    height: 3rem;
    font-size: 1.2rem;
}
/*** FUNCTION BUTTONS ***/
.function-btn-outer {
    margin: 0.5rem;
}
@media (min-width: 400px) {
    .function-btn-outer {
        margin: 0 0 0 0.1rem;
    }
}
.function-btn {
    height: 4rem;
    width: 4rem;
}
.tooltip-text {
    border: 1px solid !important;
    border-color: inherit !important;
    background-color: inherit !important;
    left: auto !important;
    right: -1px;
    transform: none !important;
}
/* STOCK */
.property__stock {
    font-size: 1.2rem;
    font-weight: 600;
}
/* NOT BUYABLE & NO STOCK */
.no-stock__icon::before {
    content:"\f12a";
}
.not-buyable__text {
    font-size: 1.2rem;
    padding: 0 1rem;
}
/* CART */
.artlist__cart-btn {
    text-transform: uppercase;
    margin: 0.5rem 1rem;
    font-size: 1.3rem;
}
.artlist__cart-unit {
    font-size: 1rem;
    white-space: nowrap;
    line-height: 3rem;
    padding: 0 0.5rem;
}
/*** FUNCTION BUTTONS END ***/
/** MAIN PIC ***/
@media (max-width: 575px) {
    .artlist__img-wrapper {
        padding-top: 290px !important;
    }
}
/*** ALTPIC ***/
.artlist__alt-img-wrap {
    margin: 0 0.5rem;
    height: 5rem;
    width: 5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}