.artlist__product-col {
    margin: 0.1rem 0;
}
@media (min-width: 576px) {
    .artlist__product-col {
        margin: 0.5rem 0;
    }
}
.artlist__product {
    padding: 0.5rem;
}
@media (max-width: 1019px) {
    .artlist__product {
        background: rgba(0,0,0,0.05);
    }
}
@media (min-width: 1020px) {
    .artlist__product:hover {
        background: rgba(0,0,0,0.05);
    }
}
.product-statuses {
    position: static;
    height: 1.6rem !important;
    z-index: 2;
    font-size: 0;
}
.artlist-col--2 .product-status {
    padding: 0.1rem 0.2rem;
    margin: 0;
}
.artlist__sale, .artlist__new {
    font-size: 0.9rem !important;
}
/*** PRICE ***/
.artlist__price-base, .artlist__price-sale {
    font-size: 1.2rem;
}
.has-sale-price .artlist__price-base {
    font-size: 1rem;
}
.artlist__price-unit {
    text-align: center;
    font-size: 0.9rem;
}
/*** PRODUCT NAME ***/
.artlist__name {
    height: 4.2em;
    font-size: 1rem;
}
.artlist__name a {
    text-align: center;
    overflow: hidden;
}
.artlist__datas {
    position: relative;
    z-index: 1;
}
.details__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.js-product-tooltip-click {
    cursor: pointer;
    z-index: 1;
}
@media (max-width: 575px) {
    .details__icon {
        width: auto !important;
        height: auto !important;
        line-height: 1 !important;
    }
    .artlist__name {
        font-size: 0.8rem;
    }
    .artlist__price-base, .artlist__price-sale {
        font-size: 0.9rem;
        letter-spacing: normal;
    }
    .has-sale-price .artlist__price-base {
        font-size: 0.9rem;
    }
    .artlist__price-unit {
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) {
    .product-statuses {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 2;
    }
    .artlist__sale, .artlist__new {
        font-size: 1rem !important;
    }
    .details__icon {
        bottom: 0.5rem;
        right: 0.5rem;
        background: rgba(251,251,251,0.8);
    }
}


@media (max-width: 1019px) {
    .js-product-tooltip-click::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.05);
    }
}

@media (min-width: 1020px) {
    .artlist__product:hover .js-product-tooltip-click::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.05);
    }
}

@media (min-width: 1260px) {
    .page_shop_start .artlist-col--2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.28571%;
        flex: 0 0 14.28571%;
        max-width: 14.28571%;
    }
}

@media (min-width: 1460px) {
    .page_shop_start .artlist-col--2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
}